<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>TV Jackal</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			/WEB-INF/classes/applicationContext.xml
		</param-value>
    </context-param>
    <servlet>
		<servlet-name>mandrakeRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mandrakeRequestHandler</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/assets/*</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/webjars/*</url-pattern>
	</servlet-mapping>
</web-app>
